{%extends base.html%}
{%block title%}注册页面{%end%}
{%block head%}
    <script src="{{static_url('js/jquery-3.2.1.js')}}"></script>

    <script>
        $(function () {

            var input_username = $('#input_username');
            var span_result = $('#span_result');

            input_username.blur(function () {
                var username = input_username.val();
                $.ajax(
                    {
                        url:'/check',
                        data:{'username':username},
                        type:'post',
                        dataType:'json',
                        async:'true',
                        success:function (data,status,xhr) {
                            console.log('成功获取服务器响应');
                            console.log(data);

                            console.log(status)
                        },
                        error:function (xhr,status,error) {
                            console.log('获取服务器响应失败');
                            console.log(error);
                            console.log(status)
                        }
                    }
                );
            });



        });

    </script>
{%end%}
{%block body%}
    {%module myregistmodule()%}
{%end%}